@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap");

.footer__section--link-instagram {
  color: violet;
  font-size: 35px;
  margin-left: 3px;
  text-decoration: none;
}

.footer__section--link-twitter {
  color: blue;
  font-size: 35px;
  margin-left: 3px;
  text-decoration: none;
}

.footer__section--link-facebook {
  color: white;
  font-size: 35px;
  margin-left: 3px;
  text-decoration: none;
}

.footer__section--link-youtube {
  color: red;
  font-size: 35px;
  margin-left: 3px;
  text-decoration: none;
}

.header {
  width: 100%;
  padding: 1rem;
  background-color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 100;
}

.header__logo {
  width: 70px;
  height: 70px;
  border-radius: 10px;
}

.header__nav {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__open {
  display: none;
  font-size: 25px;
  color: #fcf6f6;
}

.header__close {
  display: none;
}

.header__lenguaje {
  height: 35px;
  width: 130px;
}

.header__ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.header__li {
  font-family: 'Inter', sans-serif;
  color: #fdfbfb;
  text-decoration: none;
}

.header__li:hover {
  color: brown;
  text-decoration: overline;
}

.footer__section {
  width: 100%;
  height: 100%;
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
  background-color: #0c0808;
}

.footer__section--logo {
  width: 150px;
  height: 50px;
}

.footer__section--span {
  font-size: 10px;
}

.footer__section--ul {
  margin: 0px;
  padding-right: 50px;
  display: flex;
  flex-direction: row;
  list-style: none;
}

.footer__section--link {
  text-decoration: none;
  font-size: 30px;
  margin-left: 10px;
}

* {
  padding: 0%;
  margin: 0;
  box-sizing: border-box;
}

body {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 15px;
  background: #030000;
  background: #030000;
  font-family: 'Inter', sans-serif;
}

.main {
  padding-top: 100px;
}

.imagen__carrousel {
  width: 100%;
  height: 100%;
}

.section2 {
  width: 100%;
  height: 100%;
  border-top: 25px solid #1a1a1a;
  padding: 1rem;
  margin-bottom: 2rem;
  display: grid;
  grid-template-columns: repeat(2fr);
  grid-template-rows: repeat(3fr);
  grid-template-areas: "elem1 elem1"
 "elem2 elem3"
 "elem4 elem5";
}

.section2__titulo {
  font-family: 'Inter', sans-serif;
  grid-area: elem1;
  text-align: center;
  font-size: 35px;
  padding: 2rem;
  text-shadow: 3px 3px 5px #4e4646;
}

.section2__categoria1 {
  min-width: 100px;
  min-height: 50px;
  grid-area: elem2;
  margin: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  text-decoration: underline;
}

.section2__categoria2 {
  min-width: 100px;
  min-height: 50px;
  grid-area: elem3;
  margin: 2rem;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-size: 35px;
  text-decoration: underline;
}

.section2__div1 {
  width: 450px;
  height: 250px;
  grid-area: elem4;
  border-radius: 15px;
  border: 2px double white;
  transition: 1s;
}

.section2__div1:hover {
  transform: scale(0.9);
}

.section2__div2 {
  width: 450px;
  height: 250px;
  grid-area: elem5;
  border-radius: 55px;
  border: 2px double white;
  transition: 1s;
}

.section2__div2:hover {
  transform: scale(0.9);
}

.section3 {
  border: 2px black solid;
  width: 100%;
  min-height: 100px;
  background-color: white;
  color: black;
  padding: 50px;
}

.section3__imagen {
  width: 250px;
  height: 250px;
}

.section3__titulo {
  text-align: center;
  font-size: 35px;
}

.section3__parrafo {
  text-align: center;
  font-size: 16px;
  font-family: 'Inter', sans-serif;
}

.separador {
  margin: 0px;
  padding: 10px;
  font-family: 'Inter', sans-serif;
  font-size: 55px;
  font-weight: 600;
  text-shadow: 2px 2px 3px white;
  background-color: grey;
  color: black;
}

.section4 {
  min-height: 100%;
  padding-top: 2rem;
  margin-bottom: 2rem;
  justify-content: space-evenly;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
  display: grid;
  grid-template-rows: repeat(200px 200px);
  grid-template-columns: repeat(25px 50px 25px);
  grid-template-areas: "elem1 elem2 elem3"
 "elem4 elem4 elem4";
}

.section4__caja {
  width: 300px;
  margin: 1rem;
  padding: 1rem;
  font-family: 'Inter', sans-serif;
  border: 3px outset white;
  border-bottom: none;
  border-radius: 10px;
  color: white;
  margin-bottom: 3rem;
  background: black;
  background: linear-gradient(0deg, black 33%, #1b1566 70%);
}

.section4__div1 {
  grid-area: elem1;
  height: 310px;
}

.section4__div1:hover {
  transform: scale(1.1);
  transition: 1s;
}

.section4__div2 {
  grid-area: elem2;
  height: 310px;
}

.section4__div2:hover {
  transform: scale(1.1);
  transition: 1s;
}

.section4__div3 {
  grid-area: elem3;
  height: 340px;
}

.section4__div3:hover {
  transform: scale(1.1);
  transition: 1s;
}

.section4__divtitulo {
  color: white;
  text-decoration: underline;
  text-align: center;
  font-size: 35px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

.section4__divparrafo {
  text-align: center;
  font-size: 18px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section4__span-precio {
  font-size: 25px;
  font-weight: 700;
  color: darkorchid;
}

.section4__span {
  margin-top: 2rem;
  grid-area: elem4;
  text-align: center;
  font-size: 12px;
}

.section4__buttom {
  width: 100%;
  background-color: darkslateblue;
  color: white;
  padding: 15px;
  border-radius: 7px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 18px;
}

.container__series-buscador {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 25px;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
}

.container__series-buscador-barra {
  width: 400px;
  height: 50px;
  text-align: center;
}

.container__series-logo {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.container__series {
  width: 100%;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
  margin-bottom: 3rem;
}

.container__titulo-series {
  font-size: 45px;
  margin: 5px;
  padding: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: burlywood;
}

.container__seriesflex {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.container__imagen-series {
  width: 350px;
  height: 350px;
  padding: 5px;
  transition: transform 1s;
  border-radius: 10px;
}

.container__imagen-series:hover {
  transform: scale(1.05);
}

.container__series-titulos {
  text-align: center;
  font-size: 25px;
  font-style: oblique;
  font-weight: 700;
  padding: 15px;
  text-decoration: underline;
}

.container__peliculas-buscador {
  width: 100%;
  height: 100px;
  text-align: center;
  padding: 25px;
  list-style: none;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
}

.container__peliculas-buscador-barra {
  width: 400px;
  height: 50px;
  text-align: center;
}

.container__peliculas-logo {
  font-size: 25px;
  text-decoration: none;
  color: white;
}

.container__peliculas {
  width: 100%;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
  margin-bottom: 3rem;
}

.container__titulo-peliculas {
  font-size: 45px;
  margin: 5px;
  padding: 25px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  text-decoration: underline;
  color: burlywood;
}

.container__peliculasflex {
  display: flex;
  flex-direction: row;
  overflow: scroll;
}

.container__imagen-peliculas {
  width: 350px;
  height: 350px;
  padding: 5px;
  transition: transform 1s;
  border-radius: 10px;
}

.container__imagen-peliculas:hover {
  transform: scale(1.05);
}

.container__peliculas-titulos {
  text-align: center;
  font-size: 25px;
  font-style: oblique;
  font-weight: 700;
  padding: 15px;
  text-decoration: underline;
}

body {
  color: white;
  width: 100%;
  height: 100%;
  font-size: 15px;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
  font-family: 'Inter', sans-serif;
}

.div__contacto {
  padding: 2rem;
  text-align: start;
}

.div__contactotitulo {
  font-size: 35px;
  color: white;
  font-family: 'Inter', sans-serif;
}

.div__imagen {
  width: 600px;
  height: 250px;
  border-radius: 5px;
}

.div__imagen2 {
  width: 600px;
  height: 300px;
  border-radius: 5px;
}

.section__container {
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
  padding: 50px 0;
}

.section__container-titulo {
  color: white;
  font-size: 28px;
  margin-bottom: 2rem;
  text-align: right;
}

.section__container-ul {
  list-style: none;
  text-align: right;
}

.section__container-li {
  margin-bottom: 10px;
}

.section__container-link {
  font-size: 13px;
  text-decoration: none;
  color: white;
}

.section__accordion {
  color: white;
  background: #030000;
  background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
  padding: 50px;
}

.section__accordion-bottom {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

.registro {
  background: #201e94;
  background: linear-gradient(208deg, #201e94 30%, #1e8794 71%);
  width: 100%;
  height: 100%;
  padding: 50px;
}

.registro__formulario {
  background-color: black;
  width: 550px;
  height: 700px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  color: white;
  border: 1px solid silver;
  font-size: 20px;
}

.registro__logo {
  width: 105px;
  height: 105px;
  margin: auto;
  padding: 10px;
}

.registro__titulo1 {
  margin-bottom: 45px;
  font-size: 35px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
}

.registro__titulo2 {
  font-size: 20px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin-left: 25px;
}

.registro__link {
  font-size: 20px;
  position: relative;
  left: 25px;
}

.registro__parrafo {
  font-size: 18px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  margin: 15px;
}

.registro__casilla {
  width: 90%;
  height: 50px;
  border-radius: 5px;
  margin: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}

.registro__boton1 {
  width: 200px;
  height: 50px;
  position: relative;
  left: 170px;
  background-color: burlywood;
  border-radius: 3px;
  margin-top: 15px;
}

.registro__boton2 {
  width: 300px;
  height: 50px;
  position: relative;
  left: 120px;
  background-color: #f3f1ed;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 15px;
}

.registro__recuerdame {
  display: block;
  position: relative;
  left: 190px;
}

.registro__checkbox {
  display: block;
  position: relative;
  left: 320px;
  top: -20px;
}

.registro__span {
  color: grey;
  margin-left: 155px;
}

@media screen and (max-width: 1023px) {
  * {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
  }
  .section2__titulo {
    font-size: 25px;
  }
  .section2__categoria1 {
    font-size: 25px;
  }
  .section2__categoria2 {
    font-size: 25px;
  }
  .section2__div1 {
    width: 300px;
    height: 200px;
    margin: 0px;
  }
  .section2__div2 {
    width: 300px;
    height: 200px;
    margin: 0px;
  }
  .section3__imagen {
    width: 200px;
    height: 200px;
  }
  .section3__titulo {
    font-size: 30px;
  }
  .section3__parrafo {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
  }
  .separador {
    font-size: 45px;
  }
  .section4__div1 {
    width: 205px;
    height: 270px;
  }
  .section4__div2 {
    width: 205px;
    height: 290px;
  }
  .section4__div3 {
    width: 205px;
    height: 310px;
  }
  .section4__divtitulo {
    font-size: 25px;
  }
  .section4__divparrafo {
    font-size: 13px;
  }
  .section4__span-precio {
    font-size: 20px;
  }
  .section4__buttom {
    font-size: 12px;
  }
  /* ----------------------------REGISTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------REGISTRO-------------------------------------- */
  .registro {
    background: #201e94;
    background: linear-gradient(208deg, #201e94 30%, #1e8794 71%);
  }
  .registro__formulario {
    width: 450px;
    height: 550px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .registro__logo {
    width: 80px;
    height: 80px;
    margin-top: 5px;
  }
  .registro__titulo1 {
    margin-bottom: 15px;
  }
  .registro__titulo2 {
    font-size: 18px;
    margin-left: 20px;
  }
  .registro__link {
    font-size: 15px;
  }
  .registro__parrafo {
    font-size: 13px;
  }
  .registro__casilla {
    font-size: 15px;
  }
  .registro__boton1 {
    width: 200px;
    height: 40px;
    position: relative;
    left: 120px;
    padding: 3px;
    font-size: 15px;
  }
  .registro__boton2 {
    width: 280px;
    height: 40px;
    position: relative;
    left: 80px;
    padding: 3px;
    font-size: 15px;
  }
  .registro__recuerdame {
    display: none;
    position: relative;
    left: 150px;
  }
  .registro__checkbox {
    display: none;
    position: relative;
    left: 280px;
    top: -20px;
  }
  .registro__span {
    margin-left: 100px;
  }
  /* ---------------------------SERIES---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINA SERIES------------------------------- */
  .container__titulo-series {
    font-size: 35px;
  }
  .container__imagen-series {
    width: 300px;
    height: 300px;
  }
  /* --------------------------------PELICULAS--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINA PELICULAS---------------------------------- */
  .container__titulo-peliculas {
    font-size: 35px;
  }
  .container__imagen-peliculas {
    width: 300px;
    height: 300px;
  }
  /* -----------------------------------CONTACTO-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINA CONTACTO------------------------------------ */
  .div__contacto {
    padding: 2rem;
    text-align: start;
  }
  .div__contactotitulo {
    font-size: 30px;
  }
  .div__imagen {
    width: 400px;
    height: 200px;
  }
  .div__imagen2 {
    width: 400px;
    height: 200px;
  }
}

@media screen and (max-width: 700px) {
  * {
    padding: 0%;
    margin: 0;
    box-sizing: border-box;
  }
  body {
    color: white;
    width: 100%;
    height: 100%;
    font-size: 10px;
    background: #030000;
    background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
    font-family: "Inter", sans-serif;
  }
  .main {
    padding-top: 80px;
  }
  .header {
    background-color: #3b3a3a;
  }
  .header__logo {
    width: 50px;
    height: 50px;
  }
  .header__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__open {
    display: block;
    font-size: 25px;
    color: white;
    text-decoration: none;
  }
  .header__close {
    display: block;
  }
  .header__lenguaje {
    height: 25px;
    width: 100px;
  }
  .header__ul {
    height: 100%;
    width: 100%;
    padding: 0px;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header__li {
    font-size: 13px;
  }
  #lateral {
    display: flex;
    background: #030000;
    background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
    width: 50%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: -500px;
    transition: 1s;
  }
  #lateral:target {
    left: 0;
  }
  .section2 {
    border-top: 15px solid #3a2e2e;
    display: grid;
    grid-template-columns: repeat(1fr);
    grid-template-rows: repeat(5fr);
    grid-template-areas: "elem1"
 "elem2"
 "elem4"
 "elem3"
 "elem5";
  }
  .section2__titulo {
    grid-area: elem1;
    margin: 1rem;
    padding: 0;
    font-size: 18px;
    font-weight: 700;
    text-shadow: none;
  }
  .section2__categoria1 {
    grid-area: elem2;
    min-height: 0;
    margin: 1rem;
    font-size: 18px;
  }
  .section2__categoria2 {
    grid-area: elem3;
    min-height: 0;
    margin: 1rem;
    font-size: 18px;
  }
  .section2__div1 {
    width: 288px;
    height: 170px;
    grid-area: elem4;
    border-radius: 5px;
  }
  .section2__div2 {
    width: 288px;
    height: 170px;
    grid-area: elem5;
    border-radius: 5px;
  }
  .section3 {
    width: 100%;
    min-height: 400px;
    background-color: white;
    color: black;
    padding: 50px;
    align-content: center;
  }
  .section3__imagen {
    width: 150px;
    height: 150px;
  }
  .section3__titulo {
    font-size: 30px;
  }
  .section3__parrafo {
    font-size: 15px;
  }
  .separador {
    padding: 20px;
    background-color: black;
    font-family: system-ui;
    font-size: 35px;
    font-weight: 500;
    color: white;
    text-shadow: none;
    border-bottom: 2px solid white;
    border-top: 3px solid white;
  }
  .section4 {
    min-height: 100vh;
    padding-top: 0rem;
    margin-bottom: 0rem;
    justify-items: center;
    background: #030000;
    background: linear-gradient(188deg, #030000 30%, #1e8394 76%);
    display: grid;
    grid-template-rows: repeat(4fr);
    grid-template-columns: repeat(1fr);
    grid-template-areas: "elem1"
 "elem2" 
 "elem3"
 "elem4";
  }
  .section4__caja {
    width: 250px;
  }
  .section4__div1 {
    margin-top: 2rem;
    grid-area: elem1;
    height: 300px;
  }
  .section4__div2 {
    grid-area: elem2;
    height: 330px;
  }
  .section4__div3 {
    grid-area: elem3;
    height: 350px;
  }
  .section4__divtitulo {
    font-size: 25px;
  }
  .section4__divparrafo {
    font-size: 15px;
    font-family: 'Inter', sans-serif;
  }
  .section4__span-precio {
    font-size: 25px;
  }
  .section4__span {
    grid-area: elem4;
    font-size: 10px;
    padding: 5px;
    margin-top: 2rem;
    margin: 0;
  }
  .section4__buttom {
    height: 50px;
    font-family: 'Inter', sans-serif;
    font-size: 12px;
  }
  .footer__section {
    padding: 15px;
    gap: 0;
  }
  .footer__section--logo {
    width: 70px;
    height: 30px;
  }
  .footer__section--span {
    font-size: 9px;
    padding: 10px;
  }
  .footer__section--ul {
    padding-right: 45px;
  }
  .footer__section--link {
    font-size: 18px;
    margin-left: 5px;
  }
  .registro {
    padding: 10px;
    padding-top: 20px;
  }
  .registro__formulario {
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 10px;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }
  .registro__logo {
    width: 50px;
    height: 50px;
    padding: 5px;
  }
  .registro__titulo1 {
    margin-bottom: 15px;
    font-size: 25px;
    font-family: 'Inter', sans-serif;
  }
  .registro__titulo2 {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
    margin-left: 20px;
  }
  .registro__link {
    font-size: 10px;
  }
  .registro__parrafo {
    font-size: 12px;
    font-family: 'Inter', sans-serif;
  }
  .registro__casilla {
    font-size: 11px;
  }
  .registro__boton1 {
    width: 150px;
    height: 40px;
    position: relative;
    left: 70px;
    margin-top: 15px;
    font-size: 13px;
  }
  .registro__boton2 {
    width: 190px;
    height: 40px;
    position: relative;
    left: 50px;
    font-size: 13px;
  }
  .registro__recuerdame {
    display: none;
    position: relative;
  }
  .registro__checkbox {
    display: none;
    position: relative;
    left: 80px;
    top: -17px;
  }
  .registro__span {
    margin-left: 85px;
  }
  .container__series-buscador {
    width: 100%;
    height: 100%;
  }
  .container__series-buscador-barra {
    width: 250px;
    height: 50px;
  }
  .container__titulo-series {
    font-size: 30px;
  }
  .container__imagen-series {
    width: 250px;
    height: 250px;
  }
  .container__series-titulos {
    font-size: 23px;
    font-weight: 400;
    padding: 10px;
  }
  .container__peliculas-buscador {
    width: 100%;
    height: 100%;
  }
  .container__peliculas-buscador-barra {
    width: 250px;
    height: 50px;
  }
  .container__titulo-peliculas {
    font-size: 30px;
  }
  .container__imagen-peliculas {
    width: 250px;
    height: 250px;
  }
  .container__peliculas-titulos {
    font-size: 23px;
    font-weight: 400;
    padding: 10px;
  }
  .div__contacto {
    padding: 2rem;
    text-align: start;
  }
  .div__contactotitulo {
    font-size: 25px;
    font-weight: 700;
  }
  .div__contactoparrafo {
    font-size: 13px;
  }
  .div__imagen {
    width: 250px;
    height: 100px;
  }
  .div__imagen2 {
    width: 250px;
    height: 150px;
  }
  .section__container {
    padding: 35px;
  }
  .section__container-titulo {
    text-align: center;
  }
  .section__container-ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
  }
}
/*# sourceMappingURL=styles.css.map */