@media screen and (max-width:700px) {  
    *{
        padding: 0%;
        margin: 0;
        box-sizing: border-box;
    }
    body{
        color: white;
        width: 100%;
        height: 100%;
        font-size: 10px;
        background: $fondo-principal;
        background: $fondo-principal2;
        font-family: $fuente;
    }
     .main{
        padding-top: 80px;
    }
    //  ---------------------------------HEADER----------------------------------------------------------
    .header {
        width: 100%;
        padding: 1rem;
        background-color:rgb(59, 58, 58);
        color: black;
        display: flex;
        justify-content: space-between;
        z-index: 100;
      
        &__open {
            display: block;
            font-size: 25px;
            color:rgb(255, 255, 255);
            text-decoration: none;
        }
        &__close {
            display: block;
        }
        &__lenguaje {
            height: 25px;
            width: 100px;
            margin-top: 20px;
            margin-left: 40px;
            margin-bottom: 1rem;
        }
        &__logo {
            width: 50px;
            height: 50px;
        }
        &__nav {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__ul {
            height: 100%;
            width: 100%;
            list-style: none;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        &__li {
            font-size: 13px;
            font-family: 'Inter', sans-serif;
            color: #fdfbfb; 
        }
        &__li:hover{
            color:brown;
            text-decoration: underline;
        }
    }
    #lateral {
        display: block;
        background-color: rgb(14, 13, 13);
        width: 50%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -500px;
        transition: 1s;
    }
    #lateral:target {left: 0;}

//  ---------------------------------PAGINA INICIO----------------------------------------------------------
    .imagen__carrousel{
        width: 100%;
        height: 100%;
    }
    .section2{
        width: 100%;
        height: 100%;
        border-top: 15px solid rgb(58, 46, 46);
        padding: 1rem;
        margin-bottom: 2rem;
        display: grid;
        grid-template-columns: repeat(1fr);
        grid-template-rows: repeat(5fr);
        grid-template-areas:
        "elem1"
        "elem2"
        "elem4"
        "elem3"
        "elem5";
    }
    .section2__titulo{
        grid-area: elem1;
        margin: 1rem;
        padding: 0;
        text-align: center;
        font-size: 18px;
        font-weight: 700;
        
    }
    .section2__categoria1{
        grid-area: elem2;
        min-height: 0;
        margin: 1rem;
        text-align: center;
        font-size: 18px;
        text-decoration: underline 2px white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .section2__categoria2{
        grid-area: elem3;
        min-height: 0;
        margin: 1rem;
        text-align: center;
        font-size: 18px;
        text-decoration: underline 2px white;
        background-color: rgba(0, 0, 0, 0.5);
    }
    .section2__div1{
        width: 100%;
        height: 100%;
        margin:auto ;
        grid-area: elem4;
        border-radius: 5px;
        border: 2px double white;
        transition: 1s;
    }
    .section2__div2{
        width: 100%;
        height: 100%;
        margin: auto;
        grid-area: elem5;
        border-radius: 5px;
        border: 2px double white;
        transition: 1s;
    }
    .section3{
        width: 100%;
        min-height: 400px;
        background-color: white;
        color: rgb(0, 0, 0);
        padding: 50px;
        align-content: center;
    
        &__imagen{
            width: 150px;
            height: 150px;
        }
        &__titulo{
            text-align: center;
            font-size: 30px;
        }
        &__parrafo{
            text-align: center;
            font-size: 15px;
            font-family: 'Inter', sans-serif;
        }
    }
    .separador{
        background-color: rgb(0, 0, 0);
        font-family: system-ui;
        font-size: 35px;
        font-weight: 500;
        padding: 20px;
        color:white;
        border-bottom: 2px solid white;
        border-top: 3px solid white;
    }
    .section4{
        min-height:100vh; 
        padding-top: 0rem;
        margin-bottom: 0rem;
        justify-items: center;
        background: $fondo-principal;
        background: $fondo-principal2;
        display: grid;
        grid-template-rows: repeat(4fr);
        grid-template-columns:repeat(1fr);
        grid-template-areas:
        "elem1"
        "elem2" 
        "elem3"
        "elem4";

        &__caja{
            width: 250px;
            margin: 1rem;
            padding: 1rem;
            font-family: 'Inter', sans-serif;
            border: 3px outset rgb(255, 255, 255);
            border-bottom: none;
            border-radius:10px;
            color: white;
            margin-bottom: 3rem;
            background: rgb(0,0,0);
            background: linear-gradient(0deg, rgba(0,0,0,1) 33%, rgba(27,21,102,1) 70%);
        }
        &__div1{
            margin-top: 2rem;
            grid-area: elem1;
            height: 300px;
        }
        &__div2{
            grid-area: elem2;
            height: 325px;
        }
        &__div3{
            grid-area: elem3;
            height: 345px;
        }
        &__divtitulo{
            color: rgb(255, 255, 255);
            text-decoration: underline;
            font-size:25px ;
            font-weight: 700;
            font-family: 'Inter', sans-serif;
        }
        &__divparrafo{
            font-size:15px ;
            font-family: 'Inter', sans-serif;
        }
        &__span{
            grid-area: elem4;
            text-align: center;
            font-size: 9px;
            padding: 5px;
            
        }
        &__buttom {
            width: 100%;
            height: 50px;
            background-color: darkslateblue;
            color: rgb(255, 255, 255);
            padding: 15px;
            border-radius: 7px;
            font-family: 'Inter', sans-serif;
            font-size: 12px;
        }
    }           
    //  ---------------------------------FOOTER----------------------------------------------------------
    .footer__section{
        width: 100%;
        height: 100%;
        padding-top: 15px;
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
        background-color: rgb(12, 8, 8);
    
        &--logo{
            width: 70px;
            height: 30px;
        }
        &--span{
            font-size:9px;
            padding: 10px;
        }
    
        &--ul{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: row;
            list-style: none;
            margin-left: 10px;
        }   
        &--link{
            margin:auto;
            text-decoration: none;
            font-size: 18px;
        }
    }
    
   //  ---------------------------------REGISTRO----------------------------------------------------------
    .registro{
        background: rgb(32,30,148);
        background: linear-gradient(208deg, rgba(32,30,148,1) 30%, rgba(30,135,148,1) 71%);
        height: 100%; 
        padding:10px;
        padding-top: 20px;

        
    
        &__formulario{
            background-color: black;
            width: 300px;
            height: 450px;
            display: flex;
            flex-direction: column;
            justify-content: center;  
            color: $color-letra;
            border: 3px solid rgb(246, 245, 247);
            font-size: 10px; 
            margin: auto; 
        }
        &__logo{
            width: 50px;
            height: 50px;
            padding: 1px;
        }
        &__titulo1{
            margin-bottom: 15px;
            font-size: 25px;
            font-family: 'Inter', sans-serif;
            text-align: center;
        }
        &__titulo2{
            font-size:12px ;
            font-family: 'Inter', sans-serif;
            margin-left: 20px;
        }
        &__link{
            font-size: 10px;
            position: relative;
            left: 25px;
        }
        &__parrafo{
            font-size: 12px;
            font-family: 'Inter', sans-serif;
            margin: 15px;
        }
        &__casilla{
            width: 90%;
            height: 50px;
            border-radius: 5px;
            margin: auto;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        &__boton1{
            width: 150px;
            height: 40px;
            position: relative;
            left: 70px;
            background-color: burlywood;
            border-radius: 3px;
            margin-top: 15px;
        }
        &__boton2{
            width: 150px;
            height: 40px; 
            position: relative;
            left: 70px;
            background-color: rgb(243, 241, 237);
            border-radius: 3px;
            margin-top: 5px;
            margin-bottom: 15px;
        }
        &__recuerdame{
            display: none;
            position: relative;
        }
        &__checkbox{
            display: none;
            position: relative;
            left: 80px;
            top: -17px;
        }
        &__span{
            color: grey;
            margin-left: 85px;
        }
    }
    
        //  ---------------------------------PAGINA SERIES----------------------------------------------------------
    .container__series-buscador{
        width: 100%;
        height: 100%;
        text-align: center;
    }
    .container__series-buscador-barra{
         width: 250px;
        height: 50px;
        text-align: center;
    }
    .container__series{
        width: $ancho;
        background: black;
        
    }
    .container__titulo-series{
        font-size:45px;
        margin: 5px;
        padding: 25px;
        font-family: 'Inter', sans-serif;
    }
    .container__seriesflex{
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    .container__imagen-series{
        width: 250px;
        height: 250px;
        padding: 5px;
        transition: transform 1s;
    }
    .container__imagen-series:hover{
        transform:perspective(1.1)
    }
         
        
    
   //  ---------------------------------PAGINA PELICULAS----------------------------------------------------------
 
    .container__peliculas-buscador{
        width: 100%;
        height: 100%;
    }
    .container__peliculas-buscador-barra{
        width: 250px;
        height: 50px;
    }
    .container__peliculas{
        width:$ancho;
        background: $fondo-principal;
        background: $fondo-principal2;
        
    }
    .container__titulo-peliculas{
        font-size:35px;
        margin: 5px;
        padding: 25px;
        font-family: 'Inter', sans-serif;
    }
    .container__peliculasflex{
        display: flex;
        flex-direction: row;
        overflow: auto;
    }
    .container__imagen-peliculas{
        width: 250px;
        height: 250px;
        padding: 5px;
        transition: transform 1s;
    }
    .container__imagen-peliculas:hover{
        transform:perspective(1.1)
    }
    .container__peliculas-titulos{
        text-align: center;
        font-size: 25px;
        font-style: oblique;
        font-weight: 700;
        padding: 15px;
    }       
            
    
   //  ---------------------------------PAGINA CONTACTO----------------------------------------------------------
    body{
        color:$color-letra;
        width: $ancho;
        height: $alto;
        font-size: 15px;
        background: $fondo-principal;
        background: $fondo-principal2;
        font-family: 'Inter', sans-serif;
     }
    .div__contacto{
        padding: 2rem;
        text-align: start;
    }
    .div__contactotitulo{
        font-size: 25px;
        font-weight: 700;
        font-family: 'Inter', sans-serif;
        color: $color-letra;
    }
    .div__imagen{
        width: 250px;
        height: 100px;
        border-radius: 5px;
    }
    .div__imagen2{
        width: 250px;
        height: 150px;
        border-radius: 5px;
    }
    .section__container {
        background: $fondo-principal;
        background: $fondo-principal2;
        padding: 35px;
      
      &-titulo {
        color: $color-letra;
        font-size: 28px;
        margin-bottom: 2rem;
        text-align: center;
      } 
      &-ul {
        list-style: none;
        text-align: center;
        margin: 0;
        padding: 0;
      }
        &-li {
        margin-bottom: 10px;
      }
      &-link {
        font-size: 13px;
        text-decoration: none;
        color: $color-letra;
      }
    }
    .section__accordion {
        color: $color-letra;
        background: $fondo-principal;
        background: $fondo-principal2;
        padding: 50px;
      
      &-bottom {
        background-color: rgba(0, 0, 0, 0.5);
        color: $color-letra;
      }
    }
}      