@media screen and (max-width:1023px) {  
    *{
        padding: 0%;
        margin: 0;
        box-sizing: border-box;
    }
  
    // -------------------PAGINA INICIO----------------------------------------------------------------------------
        .section2{

            &__titulo{
               font-size: 25px; 
            }
            &__categoria1{
               font-size: 25px;
            }
            &__categoria2{ 
               font-size: 25px;
            }
         
            &__div1{
               width: 300px;
               height: 200px;
               margin: 0px;
            }
            &__div2{
               width: 300px;
               height: 200px;
               margin: 0px;
            }
         }
    .section3{
     &__imagen{
        width: 200px;
        height: 200px;
     }
     &__titulo{
        font-size: 30px;
     }
     &__parrafo{
        font-size: 15px;
        font-family: 'Inter', sans-serif;
     }
    }
    .separador{
        font-size: 45px;
    }
    .section4{
     
        &__div1{
           width: 205px;
           height: 270px;
        }
     
        &__div2{
           width: 205px;
           height: 290px;
        }
      
        &__div3{
           width: 205px;
           height: 310px;
        }
        &__divtitulo{
           font-size:25px ; 
        }
        &__divparrafo{
           font-size:13px ;
        }
        &__span-precio{
           font-size: 20px;
        }
        &__buttom{
           font-size: 12px;
        }
    } 
        
    /* ----------------------------REGISTRO------------------------------------------------------------------------------------------------------------------------------------------------------------------REGISTRO-------------------------------------- */
    .registro{
        background: rgb(32,30,148);
        background: linear-gradient(208deg, rgba(32,30,148,1) 30%, rgba(30,135,148,1) 71%);
    
    &__formulario{
        width: 450px;
        height: 550px;
        display: flex;
        flex-direction: column;
        justify-content: center;   
    }
    &__logo{
        width: 80px;
        height: 80px;
        margin-top: 5px;
    }
    &__titulo1{
        margin-bottom: 15px;
    }
    &__titulo2{
            font-size:18px ;
            margin-left: 20px;
        }
    &__link{
            font-size: 15px;
        }
    &__parrafo{
            font-size: 13px;
        }
    &__casilla{
            font-size: 15px;
        }
    &__boton1{
            width: 200px;
            height: 40px;
            position: relative;
            left: 120px;
            padding: 3px;
            font-size: 15px;
        }
    &__boton2{
            width: 280px;
            height: 40px; 
            position: relative;
            left: 80px;
            padding: 3px;
            font-size: 15px;
        }
    &__recuerdame{
        display: none;
        position: relative;
        left: 150px;
        }
    &__checkbox{
        display: none;
        position: relative;
        left: 280px;
        top: -20px;
        }
    &__span{
        margin-left: 100px;
    }
}
        /* ---------------------------SERIES---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINA SERIES------------------------------- */
    
    .container__titulo-series{
    font-size:35px;  
     } 
    .container__imagen-series{
    width: 300px;
    height: 300px;
     }
    /* --------------------------------PELICULAS--------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINA PELICULAS---------------------------------- */
    
    
            .container__titulo-peliculas{
                font-size:35px; 
            }       
            .container__imagen-peliculas{
                width: 300px;
                height: 300px;
            }
          
    
    /* -----------------------------------CONTACTO-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------PAGINA CONTACTO------------------------------------ */
    
    .div__contacto{
    padding: 2rem;
    text-align: start;
    }
    .div__contactotitulo{
    font-size: 30px;
    }
    .div__imagen{
        width: 400px;
        height: 200px;
    }
    .div__imagen2{
        width: 400px;
        height: 200px;
    }
 }  

