
    .container__peliculas{
    width:$ancho;
    background: $fondo-principal;
    background: $fondo-principal2;
    }
        .container__titulo-peliculas{
            font-size:45px;
            margin: 5px;
            padding: 25px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }       
        .container__peliculasflex{
            display: flex;
            flex-direction: row;
            overflow: auto;
        }
        .container__imagen-peliculas{
            width: 400px;
            height: 400px;
            padding: 5px;
            transition:transform 1s;
            border-radius: 10px;
            box-shadow: 0 10px 10px black;
        }
        .container__imagen-peliculas:hover{
            transform:scale(1.1)
        } 