*{
   padding: 0%;
   margin: 0;
   box-sizing: border-box;
}

body{
   color:$color-letra;
   width: $ancho;
   height: $alto;
   font-size: 15px;
   background: $fondo-principal;
   background: $fondo-principal;
   font-family: 'Inter', sans-serif;
}  
.main{
   padding-top: 100px;
}
.imagen__carrousel{
width: 100vw;
height: 90vh;
}
.section2{
   border-top: 25px solid rgb(26, 26, 26);
   padding: 1rem;
   margin-bottom: 2rem;
   display: grid;
   grid-template-columns: repeat(2fr);
   grid-template-rows: repeat(3fr);
   grid-template-areas:
   "elem1 elem1"
   "elem2 elem3"
   "elem4 elem5";

   &__titulo{
      font-family: 'Inter', sans-serif;
      grid-area: elem1;
      text-align: center;
      font-size: 50px;
      margin: 4rem;
   }
   &__categoria1{
      margin: 3rem;
      grid-area: elem2;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 35px;
      background-color: rgba(0, 0, 0, 0.5);
   }
   &__categoria2{
      margin: 3rem;
      grid-area: elem3;
      text-align: center;
      font-family: 'Inter', sans-serif;
      font-size: 35px;
      background-color: rgba(0, 0, 0, 0.5);
   }

   &__div1{
      height: 400px;
      width: 700px;
      grid-area: elem4;
      border-radius: 50%;
      border: 2px double white;
      transition: 1s;
   }
   &__div1:hover{
      transform: scale(0.9);
   }
   &__div2{
      height: 400px;
      width: 700px;
      grid-area: elem5;
      border-radius: 50%;
      border: 2px double white;
      transition: 1s;
   }
   &__div2:hover{
      transform: scale(0.9);
   }
}
.section3{
   border: 2px black solid;
   width: $ancho;
   min-height: 100px;
   background-color: white;
   color: black;
   padding: 50px;

   &__imagen{
      width: 300px;
      height: 300px;
   }
   &__titulo{
      text-align: center;
      font-size: 35px;
   }
   &__parrafo{
      text-align: center;
      font-size: 18px;
      font-family: 'Inter', sans-serif;
   }
}
.separador{
   background-color: grey;
   font-family: 'Inter', sans-serif;
   font-size: 55px;
   padding: 10px;
   color:black;
   margin: 0px;
}
.section4{
   height: 100vh;
   margin-bottom: 1rem;
   border-top: 15px solid black;
   align-content: space-around;
   background: $fondo-principal;
   background: $fondo-principal2;
   display: grid;
   grid-template-rows: repeat(200px 200px);
   grid-template-columns:repeat(25px 50px 25px) ;
   grid-template-areas: 
   "elem1 elem2 elem3"
   "elem4 elem4 elem4";

   &__div1{
      grid-area: elem1;
      width: 350px;
      height: 300px;
      padding: 1rem;
      margin: auto;
      font-family: 'Inter', sans-serif;
      border: 3px outset white;
      border-radius: 10px;
      border-bottom: none;
      background: $fondo-principal;
      background: $fondo-principal2;
      color: rgb(255, 255, 255);
   }
   &__div1:hover{
      transform: scale(1.1);
      transition: 1s;
  }
   &__div2{
      grid-area: elem2;
      width: 350px;
      height: 330px;
      padding: 1rem;
      margin: auto;
      font-family: 'Inter', sans-serif;
      border: 3px outset white;
      border-radius: 10px;
      border-bottom: none;
      background: rgb(32,30,148);
      background: linear-gradient(208deg, rgba(32,30,148,1) 30%, rgba(30,135,148,1) 71%); 
      color: rgb(255, 255, 255);
   }
   &__div2:hover{
      transform: scale(1.1);
      transition: 1s;
  }
   &__div3{
      grid-area: elem3;
      width: 350px;
      height: 360px;
      padding: 1rem;
      margin: auto;
      font-family: 'Inter', sans-serif;
      border: 3px outset white;
      border-radius: 10px;
      border-bottom: none;
      background: $fondo-principal;
      background: $fondo-principal2;
      color: rgb(255, 255, 255);
   }
   &__div3:hover{
      transform: scale(1.1);
      transition: 1s;
  }
   &__divtitulo{
      color: rgb(255, 255, 255);
      text-decoration: underline;
      text-align: center;
      font-size:35px ;
      font-family: 'Inter', sans-serif;
      font-weight: 700;
   }
   &__divparrafo{
      text-align: center;
      font-size:20px ;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   }
   &__span{
      grid-area: elem4;
      text-align: center;
      font-size: 15px;
   }
   &__buttom{
      margin-bottom: 0;
      width: 100%;
      background-color: rgb(59, 59, 128);
      color: white;
      padding: 15px;
      border-radius: 7px;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 18px;
   }
}
