
.container__series{
    width: $ancho;
    background: $fondo-principal;
    background: $fondo-principal2;
    }
        .container__titulo-series{
            font-size:50px;
            margin: 5px;
            padding: 25px;
            font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        }
        .container__seriesflex{
            display: flex;
            flex-direction: row;
            overflow: auto;
        }
        .container__imagen-series{
            width: 400px;
            height: 400px;
            padding: 5px;
            transition:transform 1s;
            border-radius: 10px;
            box-shadow: 0 10px 10px black;
        }
        .container__imagen-series:hover{
            transform:scale(1.1)
        }
       
  