.container__series-buscador{
    width: 100%;
    height: 100px;
    text-align: center;
    padding: 25px;
    background: $fondo-principal;
    background: $fondo-principal2;
}
.container__series-buscador-barra{
    width: 400px;
    height: 50px;
    text-align: center;
}
.container__series-logo{
    font-size: 25px;
    text-decoration: none;
    color:white;
}
.container__series{
    width: $ancho;
    background: $fondo-principal;
    background: $fondo-principal2;
    margin-bottom: 3rem;
}
.container__titulo-series{
    font-size:45px;
    margin: 5px;
    padding: 25px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    text-decoration: underline;
    color: burlywood;
}
.container__seriesflex{
    display: flex;
    flex-direction: row;
    overflow: scroll;
    
}
.container__imagen-series{
    width: 350px;
    height: 350px;
    padding: 5px;
    transition:transform 1s;
    border-radius: 10px;
}
.container__imagen-series:hover{
    transform:scale(1.05)
}
.container__series-titulos{
    text-align: center;
    font-size: 25px;
    font-style: oblique;
    font-weight: 700;
    padding: 15px;
    text-decoration: underline;
}
  